<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'naam: ' + ${project.naam}" />
<p th:text="'project vorm: ' + ${project.type}" />
<p th:text="'klant email: ' + ${project.klantEmail}" />
<p th:text="'verhaal schrijver email: ' + ${project.verhaalschrijverEmail}" />
<p th:text="'interviewer email: ' + ${project.interviewerEmail}" />
</body>
</html>